.c-Friend .ui.disabled.input,
.c-Friend input[disabled] {
    opacity: 1 !important;
    color: #333 !important;
}

.c-Friend .ui.disabled.textarea,
.c-Friend textarea[disabled]  {
    opacity: 1 !important;
    color: #333 !important;
    border: none;
}
