.c-House .ui.disabled.input,
.c-House input[disabled] {
    opacity: 1 !important;
    color: #333 !important;
}

.c-House .ui.disabled.textarea,
.c-House textarea[disabled]  {
    opacity: 1 !important;
    color: #333 !important;
    border: none;
}
