.background {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
    background-image: url('./images/timg.jpeg');
    background-size: 100% 100%;
    opacity: 0.8;
    filter: blur(5px);
}
